@import "../base/reset";
@import "../abstracts/_variables";
@import "../components/button";
@import "../base/global";
@import "../components/navbar";
@import "../components/_footer";

.privacy-policy {
  padding: 14px 0 100px;

  &__intro {
    display: flex;
    align-items: center;
    gap: 15px;

    a,
    span {
      color: #8c8f96;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0%;
    }

    a {
      &:last-child {
        color: $primary;
        font-weight: 600;
      }
    }
  }

  &__title {
    margin: 46px 0 22px;
    color: $primary;
    font-size: 31px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .privacy-policy__intro-rule {
    margin-bottom: 15px;
  }

  p,
  h4 {
    color: #303030;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
  }

  .privacy-policy__rule {
    h4 {
      font-weight: 600;
      margin-top: 20px;
    }

    p {
      margin: 10px 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .privacy-policy {
    padding: 13px 0 80px;

    &__title {
      margin: 25px 0;
      font-size: 25px;
      line-height: 29px;
    }
  }
}

@media screen and (max-width: 470px) {
  .privacy-policy {
    &__intro {
      flex-wrap: wrap;
    }

    &__title {
      font-size: 19px;
      line-height: 25px;
    }
  }
}

@media screen and (max-width: 360px) {
  .privacy-policy {
    padding-bottom: 40px;

    &__title {
      margin: 20px 0;
      font-size: 16px;
      line-height: 20px;
    }

    p {
      font-size: 14px;
      line-height: 25px;
    }
  }
}
