@font-face {
  font-family: "RFDewiExpanded";
  src: url("../../fonts/RFDewiExpanded-Regular.woff2") format("woff2"), url("../../fonts/RFDewiExpanded-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RFDewiExpanded";
  src: url("../../fonts/RFDewiExpanded-Semibold.woff2") format("woff2"), url("../../fonts/RFDewiExpanded-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RFDewiExpanded";
  src: url("../../fonts/RFDewiExpanded-Bold.woff2") format("woff2"), url("../../fonts/RFDewiExpanded-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RFDewiExpanded";
  src: url("../../fonts/RFDewiExtended-Ultrabold.woff2") format("woff2"), url("../../fonts/RFDewiExtended-Ultrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RFDewiExpanded";
  src: url("../../fonts/RFDewiExtended-Black.woff2") format("woff2"), url("../../fonts/RFDewiExtended-Black.woff2") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "RFDewiExpanded", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.btn {
  width: 251px;
  border-radius: 5px;
  background-color: #121214;
  color: #fff;
  padding: 23px 27px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0%;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 1362px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

@media screen and (max-width: 360px) {
  .container {
    padding: 0 10px;
  }
}
.nav {
  background-color: #121214;
  height: 100px;
  padding: 33px 0;
  color: #fff;
  display: flex;
}
.nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.nav-open, .nav-close {
  display: none;
  cursor: pointer;
}
.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  transition: transform 0.3s ease;
  z-index: 2;
}
.nav ul .nav__links,
.nav ul .nav__dropdown-btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.nav ul .nav__links i,
.nav ul .nav__dropdown-btn i {
  font-size: 10px;
}
.nav ul .nav__links:hover,
.nav ul .nav__dropdown-btn:hover {
  opacity: 0.7;
}
.nav ul .nav__dropdown {
  position: relative;
  display: inline-block;
  transition: display 0.3s ease;
}
.nav ul .nav__dropdown-btn {
  background-color: #121214;
  border: none;
  outline: none;
  color: #fff;
}
.nav ul .nav__dropdown-content {
  width: 275px;
  display: none;
  position: absolute;
  background-color: #121214;
  z-index: 1;
  padding: 23px 0 45px 32px;
  flex-direction: column;
  row-gap: 45px;
}
.nav ul .nav__dropdown-content a {
  position: relative;
  color: #d4d4dd;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  transition: all 0.2s ease;
}
.nav ul .nav__dropdown-content a:hover::before {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  height: 1px;
  background-color: #49d0ff;
  animation: widthFull 0.3s ease forwards;
}
@keyframes widthFull {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}
.nav ul .nav__dropdown:hover .nav__dropdown-content {
  display: flex;
}
.nav .nav__lists-sm {
  display: none;
}
.nav__actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav__actions-logo {
  display: none;
}
.nav__actions i {
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.nav__actions i:hover {
  opacity: 0.7;
}
.nav__actions-shop {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav__actions-shop p {
  color: #8c8f96;
  font-size: 13px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0%;
}
.nav__actions-shop span {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #49d0ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

@media screen and (max-width: 1220px) {
  .nav ul {
    gap: 25px;
  }
  .nav ul .nav__dropdown-content {
    row-gap: 30px;
    padding: 23px;
  }
  .nav__actions p,
  .nav__actions span {
    display: none;
  }
}
@media screen and (max-width: 1030px) {
  .nav ul, .nav__actions {
    gap: 15px;
  }
}
@media screen and (max-width: 950px) {
  .nav .wrapper {
    justify-content: start;
  }
  .nav-open {
    display: block;
    margin-left: 50px;
  }
  .nav .nav__lists {
    display: none;
  }
  .nav .nav__lists-sm {
    position: fixed;
    width: 60%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #121214;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
    padding: 70px;
    transform: translateX(-100%);
  }
  .nav .nav__lists-sm .nav-close {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .nav__actions {
    margin-left: auto;
  }
}
@media screen and (max-width: 600px) {
  .nav ul {
    width: 70%;
  }
  .nav ul .nav__dropdown-content {
    width: 170px;
  }
}
@media screen and (max-width: 420px) {
  .nav .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .nav-open, .nav__actions {
    margin: 0;
  }
}
@media screen and (max-width: 360px) {
  .nav {
    height: 80px;
    padding: 26px 0;
  }
  .nav__logo {
    display: none;
  }
  .nav .wrapper {
    justify-content: start;
    gap: 36px;
  }
  .nav .nav__lists-sm {
    width: 100%;
    padding: 67px 44px;
  }
  .nav .nav__lists-sm .nav-close {
    top: 17px;
    left: 22px;
  }
  .nav__actions {
    width: 100%;
    justify-content: space-between;
  }
  .nav__actions-logo {
    display: block;
  }
  .nav__actions-shop a {
    position: relative;
    transition: opacity 0.3s ease;
  }
  .nav__actions-shop a::before {
    position: absolute;
    top: -7px;
    right: -7px;
    content: "7";
    width: 14px;
    height: 14px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #49d0ff;
    border-radius: 50%;
  }
  .nav__actions-shop a:hover::before {
    opacity: 0.7;
  }
}
.footer {
  background-color: #121214;
  padding: 45px 0 51px;
  color: #dcdce0;
}
.footer .footer-lg {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.footer .footer-lg .footer-lg-catalogue,
.footer .footer-lg .footer-lg-information,
.footer .footer-lg .footer-lg-contacts,
.footer .footer-lg .footer-lg-news {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer .footer-lg .footer-lg-catalogue h4,
.footer .footer-lg .footer-lg-information h4,
.footer .footer-lg .footer-lg-contacts h4,
.footer .footer-lg .footer-lg-news h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.footer .footer-lg .footer-lg-catalogue__link,
.footer .footer-lg .footer-lg-information__link {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  transition: opacity 0.3s ease;
}
.footer .footer-lg .footer-lg-catalogue__link:hover,
.footer .footer-lg .footer-lg-information__link:hover {
  opacity: 0.8;
}
.footer .footer-lg .footer-lg-catalogue a:last-child {
  margin-top: 49px;
}
.footer .footer-lg .footer-lg-information a:last-child {
  margin-top: 29px;
}
.footer .footer-lg .footer-lg-contacts__email {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration-line: underline;
}
.footer .footer-lg .footer-lg-contacts__tel {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0%;
}
.footer .footer-lg .footer-lg-contacts__social {
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.footer .footer-lg .footer-lg-contacts__messengers {
  display: flex;
  align-items: center;
  gap: 9px;
  flex-wrap: wrap;
}
.footer .footer-lg .footer-lg-news h4 + p {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
}
.footer .footer-lg .footer-lg-news__form {
  display: flex;
  align-items: center;
}
.footer .footer-lg .footer-lg-news__form input {
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  padding-right: 40px;
}
.footer .footer-lg .footer-lg-news__form button {
  margin-left: -30px;
  width: 29px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #121214;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}
.footer .footer-lg .footer-lg-news__form + p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}
.footer .footer-lg .footer-lg-news__policy {
  margin-top: 42px;
}
.footer .footer-lg .footer-lg-news__policy p {
  color: #707076;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.footer .footer-md,
.footer .footer-sm {
  display: none;
}
.footer .footer-sm__accordion {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 21px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.footer .footer-sm__accordion-content {
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.footer .footer-sm__accordion-content_header {
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s linear;
}
.footer .footer-sm__accordion-content_header span {
  color: #fff;
  font-size: 13px;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.footer .footer-sm__accordion-content_header i {
  font-size: 14px;
  color: #fff;
}
.footer .footer-sm__accordion-content.open .footer .footer-sm__accordion-content_header {
  min-height: 35px;
}
.footer .footer-sm__accordion-content-footer {
  height: 0;
  transition: all 0.2s linear;
  display: flex;
  flex-direction: column;
}
.footer .footer-sm__accordion-content-footer a {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  transition: opacity 0.3s ease;
}
.footer .footer-sm__accordion-content-footer a:hover {
  opacity: 0.8;
}
.footer .footer-sm__messengers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.footer .footer-sm__news-title {
  color: #fff;
  font-size: 13px;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.footer .footer-sm__news-text {
  color: #dcdce0;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin: 9px 0;
}
.footer .footer-sm__form {
  width: 100%;
  display: flex;
}
.footer .footer-sm__form input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  padding-right: 40px;
}
.footer .footer-sm__form button {
  margin-left: -30px;
  width: 29px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #121214;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}
.footer .footer-sm__form + p {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  margin: 15px 0 19px;
  opacity: 0.8;
}
.footer .footer-sm__policy p {
  color: #707076;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-align: center;
}
.footer .footer-sm__policy + a {
  text-align: center;
  margin-top: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .footer .footer-lg {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 38px 0;
  }
  .footer .footer-lg {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer .footer-lg .footer-lg-catalogue a:last-of-type,
  .footer .footer-lg .footer-lg-information a:last-of-type {
    display: none;
  }
  .footer .footer-lg .footer-lg-news {
    display: none;
  }
  .footer .footer-md {
    display: block;
    margin-top: 27px;
  }
  .footer .footer-md__news-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px 10px;
    flex-wrap: wrap;
  }
  .footer .footer-md__news-intro h4 {
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .footer .footer-md__news-intro h4 + p {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .footer .footer-md__news-intro form {
    max-width: 320px;
    width: 100%;
    display: flex;
  }
  .footer .footer-md__news-intro form input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    padding-right: 40px;
  }
  .footer .footer-md__news-intro form button {
    margin-left: -30px;
    width: 29px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #121214;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
  }
  .footer .footer-md__news-intro + p {
    margin: 15px 0 31px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
  }
  .footer .footer-md__news-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px 10px;
    flex-wrap: wrap;
  }
  .footer .footer-md__news-bottom p {
    color: #707076;
    font-size: 11px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-decoration-line: underline;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 550px) {
  .footer .footer-lg {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}
@media screen and (max-width: 360px) {
  .footer {
    padding: 28px 0 36px;
  }
  .footer .footer-lg,
  .footer .footer-md {
    display: none;
  }
  .footer .footer-sm {
    display: block;
  }
  .footer .footer-sm__logo {
    display: block;
  }
  .footer .footer-sm__logo img {
    margin: 0 auto;
  }
}
.login {
  padding: 14px 0 119px;
}
.login__intro {
  display: flex;
  align-items: center;
  gap: 15px;
}
.login__intro a,
.login__intro p,
.login__intro span {
  color: #8c8f96;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}
.login__intro p {
  color: #121214;
}
.login__title {
  margin: 46px 0;
  color: #121214;
  font-size: 31px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.login__cards {
  display: flex;
  gap: 30px;
}
.login__cards .login__enter,
.login__cards .login__register {
  width: 50%;
  border: 1px solid #e9eaee;
  border-radius: 5px;
  background-color: #fff;
  padding: 34px 40px 35px;
}
.login__cards .login__enter h3,
.login__cards .login__register h3 {
  color: #303030;
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  margin-bottom: 26px;
}
.login__cards .login__enter form,
.login__cards .login__register form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.login__cards .login__enter form > label,
.login__cards .login__register form > label {
  padding: 14px 22px 16px;
  border-radius: 5px;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: #3c3d44;
  font-size: 13px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
}
.login__cards .login__enter form > label input,
.login__cards .login__register form > label input {
  border: none;
  outline: none;
  background-color: transparent;
  color: #424347;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0%;
}
.login__cards .login__enter button,
.login__cards .login__register button {
  margin: 0 auto;
  transition: opacity 0.3s ease;
}
.login__cards .login__enter button:hover,
.login__cards .login__register button:hover {
  opacity: 0.9;
}
.login__cards .login__enter .login__enter-form__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px 10px;
  flex-wrap: wrap;
}
.login__cards .login__enter .login__enter-form__footer label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.login__cards .login__enter .login__enter-form__footer a {
  color: #676767;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration-line: underline;
}

@media screen and (max-width: 768px) {
  .login {
    padding: 14px 0 80px;
  }
  .login__title {
    margin: 34px 0 21px;
    font-size: 25px;
    line-height: 29px;
  }
  .login__cards {
    flex-direction: column;
  }
  .login__cards .login__enter,
  .login__cards .login__register {
    width: 100%;
    padding: 30px;
  }
  .login__cards .login__enter h3,
  .login__cards .login__register h3 {
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .login__cards .login__enter form,
  .login__cards .login__register form {
    gap: 20px;
  }
}
@media screen and (max-width: 450px) {
  .login .login__enter,
  .login .login__register {
    padding: 25px 20px;
  }
  .login .login__enter form button,
  .login .login__register form button {
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .login {
    padding-bottom: 40px;
  }
  .login__title {
    margin: 15px 0 24px;
    font-size: 19px;
    line-height: 30px;
  }
  .login .login__enter,
  .login .login__register {
    padding: 20px 15px;
  }
  .login .login__enter h3,
  .login .login__register h3 {
    text-align: center;
    font-size: 15px;
    line-height: 28px;
  }
  .login .login__enter .login__enter-form__footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=login.css.map */
