@font-face {
  font-family: "RFDewiExpanded";
  src: url("../../fonts/RFDewiExpanded-Regular.woff2") format("woff2"), url("../../fonts/RFDewiExpanded-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RFDewiExpanded";
  src: url("../../fonts/RFDewiExpanded-Semibold.woff2") format("woff2"), url("../../fonts/RFDewiExpanded-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RFDewiExpanded";
  src: url("../../fonts/RFDewiExpanded-Bold.woff2") format("woff2"), url("../../fonts/RFDewiExpanded-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RFDewiExpanded";
  src: url("../../fonts/RFDewiExtended-Ultrabold.woff2") format("woff2"), url("../../fonts/RFDewiExtended-Ultrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RFDewiExpanded";
  src: url("../../fonts/RFDewiExtended-Black.woff2") format("woff2"), url("../../fonts/RFDewiExtended-Black.woff2") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "RFDewiExpanded", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

.btn {
  width: 251px;
  border-radius: 5px;
  background-color: #121214;
  color: #fff;
  padding: 23px 27px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0%;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  max-width: 1362px;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

@media screen and (max-width: 360px) {
  .container {
    padding: 0 10px;
  }
}
.nav {
  background-color: #121214;
  height: 100px;
  padding: 33px 0;
  color: #fff;
  display: flex;
}
.nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.nav-open, .nav-close {
  display: none;
  cursor: pointer;
}
.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  transition: transform 0.3s ease;
  z-index: 2;
}
.nav ul .nav__links,
.nav ul .nav__dropdown-btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0%;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.nav ul .nav__links i,
.nav ul .nav__dropdown-btn i {
  font-size: 10px;
}
.nav ul .nav__links:hover,
.nav ul .nav__dropdown-btn:hover {
  opacity: 0.7;
}
.nav ul .nav__dropdown {
  position: relative;
  display: inline-block;
  transition: display 0.3s ease;
}
.nav ul .nav__dropdown-btn {
  background-color: #121214;
  border: none;
  outline: none;
  color: #fff;
}
.nav ul .nav__dropdown-content {
  width: 275px;
  display: none;
  position: absolute;
  background-color: #121214;
  z-index: 1;
  padding: 23px 0 45px 32px;
  flex-direction: column;
  row-gap: 45px;
}
.nav ul .nav__dropdown-content a {
  position: relative;
  color: #d4d4dd;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  transition: all 0.2s ease;
}
.nav ul .nav__dropdown-content a:hover::before {
  position: absolute;
  bottom: -5px;
  left: 0;
  content: "";
  height: 1px;
  background-color: #49d0ff;
  animation: widthFull 0.3s ease forwards;
}
@keyframes widthFull {
  from {
    width: 0;
  }
  to {
    width: 15%;
  }
}
.nav ul .nav__dropdown:hover .nav__dropdown-content {
  display: flex;
}
.nav .nav__lists-sm {
  display: none;
}
.nav__actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav__actions-logo {
  display: none;
}
.nav__actions i {
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.nav__actions i:hover {
  opacity: 0.7;
}
.nav__actions-shop {
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav__actions-shop p {
  color: #8c8f96;
  font-size: 13px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0%;
}
.nav__actions-shop span {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #49d0ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

@media screen and (max-width: 1220px) {
  .nav ul {
    gap: 25px;
  }
  .nav ul .nav__dropdown-content {
    row-gap: 30px;
    padding: 23px;
  }
  .nav__actions p,
  .nav__actions span {
    display: none;
  }
}
@media screen and (max-width: 1030px) {
  .nav ul, .nav__actions {
    gap: 15px;
  }
}
@media screen and (max-width: 950px) {
  .nav .wrapper {
    justify-content: start;
  }
  .nav-open {
    display: block;
    margin-left: 50px;
  }
  .nav .nav__lists {
    display: none;
  }
  .nav .nav__lists-sm {
    position: fixed;
    width: 60%;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #121214;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 40px;
    padding: 70px;
    transform: translateX(-100%);
  }
  .nav .nav__lists-sm .nav-close {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .nav__actions {
    margin-left: auto;
  }
}
@media screen and (max-width: 600px) {
  .nav ul {
    width: 70%;
  }
  .nav ul .nav__dropdown-content {
    width: 170px;
  }
}
@media screen and (max-width: 420px) {
  .nav .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .nav-open, .nav__actions {
    margin: 0;
  }
}
@media screen and (max-width: 360px) {
  .nav {
    height: 80px;
    padding: 26px 0;
  }
  .nav__logo {
    display: none;
  }
  .nav .wrapper {
    justify-content: start;
    gap: 36px;
  }
  .nav .nav__lists-sm {
    width: 100%;
    padding: 67px 44px;
  }
  .nav .nav__lists-sm .nav-close {
    top: 17px;
    left: 22px;
  }
  .nav__actions {
    width: 100%;
    justify-content: space-between;
  }
  .nav__actions-logo {
    display: block;
  }
  .nav__actions-shop a {
    position: relative;
    transition: opacity 0.3s ease;
  }
  .nav__actions-shop a::before {
    position: absolute;
    top: -7px;
    right: -7px;
    content: "7";
    width: 14px;
    height: 14px;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #49d0ff;
    border-radius: 50%;
  }
  .nav__actions-shop a:hover::before {
    opacity: 0.7;
  }
}
.product__wrapper:nth-child(2) {
  margin: 80px 0;
}
.product__wrapper .product__intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 38px;
  gap: 0 15px;
  flex-wrap: wrap;
}
.product__wrapper .product__intro-title {
  color: #121214;
  font-size: 31px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.product__wrapper .product__intro-link {
  color: #000;
  font-size: 14px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0%;
  text-transform: uppercase;
  border-bottom: 2px solid rgb(18, 18, 20);
}
.product__wrapper .product__intro-link i {
  transition: transform 0.3s ease;
}
.product__wrapper .product__intro-link:hover i {
  transform: translateX(2px);
}
.product__wrapper .swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 69px;
}
.product__wrapper .swiper-slide {
  background: #fff;
  display: flex;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.product__wrapper .swiper-slide .sneakers-add {
  position: absolute;
  top: 33px;
  right: 25px;
  transition: color 0.3s ease;
  z-index: 1;
}
.product__wrapper .swiper-slide .sneakers-add:hover {
  color: orange;
}
.product__wrapper .swiper-slide_img {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
}
.product__wrapper .swiper-slide_img:hover {
  transform: translateY(-2px);
}
.product__wrapper .swiper-slide .sneaker__title {
  color: #000;
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.product__wrapper .swiper-slide .sneaker__text {
  color: #3c3c3c;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}
.product__wrapper .swiper-pagination {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__wrapper .swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #121214;
  opacity: 0.7;
}
.product__wrapper .swiper-pagination .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .product__wrapper:nth-child(2) {
    margin: 60px 0;
  }
  .product__wrapper .product__intro {
    margin-bottom: 25px;
  }
  .product__wrapper .product__intro-title {
    font-size: 25px;
    line-height: 42px;
  }
  .product__wrapper .swiper {
    padding-bottom: 50px;
  }
  .product__wrapper .swiper-slide .sneakers-add {
    top: 0px;
    right: 0px;
  }
}
@media screen and (max-width: 550px) {
  .product__wrapper .swiper-slide .sneaker__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
  }
  .product__wrapper .swiper-slide .sneaker__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }
}
.footer {
  background-color: #121214;
  padding: 45px 0 51px;
  color: #dcdce0;
}
.footer .footer-lg {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.footer .footer-lg .footer-lg-catalogue,
.footer .footer-lg .footer-lg-information,
.footer .footer-lg .footer-lg-contacts,
.footer .footer-lg .footer-lg-news {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer .footer-lg .footer-lg-catalogue h4,
.footer .footer-lg .footer-lg-information h4,
.footer .footer-lg .footer-lg-contacts h4,
.footer .footer-lg .footer-lg-news h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.footer .footer-lg .footer-lg-catalogue__link,
.footer .footer-lg .footer-lg-information__link {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  transition: opacity 0.3s ease;
}
.footer .footer-lg .footer-lg-catalogue__link:hover,
.footer .footer-lg .footer-lg-information__link:hover {
  opacity: 0.8;
}
.footer .footer-lg .footer-lg-catalogue a:last-child {
  margin-top: 49px;
}
.footer .footer-lg .footer-lg-information a:last-child {
  margin-top: 29px;
}
.footer .footer-lg .footer-lg-contacts__email {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration-line: underline;
}
.footer .footer-lg .footer-lg-contacts__tel {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0%;
}
.footer .footer-lg .footer-lg-contacts__social {
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.footer .footer-lg .footer-lg-contacts__messengers {
  display: flex;
  align-items: center;
  gap: 9px;
  flex-wrap: wrap;
}
.footer .footer-lg .footer-lg-news h4 + p {
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
}
.footer .footer-lg .footer-lg-news__form {
  display: flex;
  align-items: center;
}
.footer .footer-lg .footer-lg-news__form input {
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  padding-right: 40px;
}
.footer .footer-lg .footer-lg-news__form button {
  margin-left: -30px;
  width: 29px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #121214;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}
.footer .footer-lg .footer-lg-news__form + p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
}
.footer .footer-lg .footer-lg-news__policy {
  margin-top: 42px;
}
.footer .footer-lg .footer-lg-news__policy p {
  color: #707076;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.footer .footer-md,
.footer .footer-sm {
  display: none;
}
.footer .footer-sm__accordion {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 21px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.footer .footer-sm__accordion-content {
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.footer .footer-sm__accordion-content_header {
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s linear;
}
.footer .footer-sm__accordion-content_header span {
  color: #fff;
  font-size: 13px;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.footer .footer-sm__accordion-content_header i {
  font-size: 14px;
  color: #fff;
}
.footer .footer-sm__accordion-content.open .footer .footer-sm__accordion-content_header {
  min-height: 35px;
}
.footer .footer-sm__accordion-content-footer {
  height: 0;
  transition: all 0.2s linear;
  display: flex;
  flex-direction: column;
}
.footer .footer-sm__accordion-content-footer a {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  transition: opacity 0.3s ease;
}
.footer .footer-sm__accordion-content-footer a:hover {
  opacity: 0.8;
}
.footer .footer-sm__messengers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.footer .footer-sm__news-title {
  color: #fff;
  font-size: 13px;
  font-weight: 900;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.footer .footer-sm__news-text {
  color: #dcdce0;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin: 9px 0;
}
.footer .footer-sm__form {
  width: 100%;
  display: flex;
}
.footer .footer-sm__form input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  padding-right: 40px;
}
.footer .footer-sm__form button {
  margin-left: -30px;
  width: 29px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #121214;
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}
.footer .footer-sm__form + p {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  margin: 15px 0 19px;
  opacity: 0.8;
}
.footer .footer-sm__policy p {
  color: #707076;
  font-size: 11px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-decoration-line: underline;
  text-transform: uppercase;
  text-align: center;
}
.footer .footer-sm__policy + a {
  text-align: center;
  margin-top: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .footer .footer-lg {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 38px 0;
  }
  .footer .footer-lg {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer .footer-lg .footer-lg-catalogue a:last-of-type,
  .footer .footer-lg .footer-lg-information a:last-of-type {
    display: none;
  }
  .footer .footer-lg .footer-lg-news {
    display: none;
  }
  .footer .footer-md {
    display: block;
    margin-top: 27px;
  }
  .footer .footer-md__news-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px 10px;
    flex-wrap: wrap;
  }
  .footer .footer-md__news-intro h4 {
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .footer .footer-md__news-intro h4 + p {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .footer .footer-md__news-intro form {
    max-width: 320px;
    width: 100%;
    display: flex;
  }
  .footer .footer-md__news-intro form input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    padding-right: 40px;
  }
  .footer .footer-md__news-intro form button {
    margin-left: -30px;
    width: 29px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #121214;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
  }
  .footer .footer-md__news-intro + p {
    margin: 15px 0 31px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
  }
  .footer .footer-md__news-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px 10px;
    flex-wrap: wrap;
  }
  .footer .footer-md__news-bottom p {
    color: #707076;
    font-size: 11px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0%;
    text-decoration-line: underline;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 550px) {
  .footer .footer-lg {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
}
@media screen and (max-width: 360px) {
  .footer {
    padding: 28px 0 36px;
  }
  .footer .footer-lg,
  .footer .footer-md {
    display: none;
  }
  .footer .footer-sm {
    display: block;
  }
  .footer .footer-sm__logo {
    display: block;
  }
  .footer .footer-sm__logo img {
    margin: 0 auto;
  }
}
.hero {
  max-width: 1541px;
  margin: 49px auto 0;
  position: relative;
  background-image: url("../assets/header-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 98px;
  padding-bottom: 46px;
}
.hero .container {
  display: flex;
}
.hero .wrapper {
  width: 571px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 19px;
}
.hero__title {
  color: #121214;
  font-size: 51px;
  font-weight: 900;
  line-height: 63px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.hero__text {
  color: #121214;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
}
.hero__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__btn i {
  transition: transform 0.3s ease;
}
.hero__btn:hover i {
  transform: translateX(2px);
}
.hero__controls {
  display: flex;
  gap: 15px;
}
.hero__controls-prev, .hero__controls-next {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.hero__controls-prev:hover, .hero__controls-next:hover {
  background-color: #f0f2f7;
}
.hero__controls-bullets {
  position: absolute;
  top: 50%;
  right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.hero__controls-bullets span {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.7;
  cursor: pointer;
}
.hero__controls-bullets span:nth-child(3) {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.products {
  margin-top: 80px;
}

.about {
  position: relative;
  margin-top: 400px;
  background: url("../assets/about-bg.png"), linear-gradient(-72.22deg, rgb(188, 191, 199) -4.307%, rgb(213, 215, 220) 46.69%), rgb(217, 217, 217);
  background-position: center;
  background-repeat: no-repeat;
}
.about .about__chat {
  width: 50px;
  position: absolute;
  right: 20px;
  bottom: 230px;
}
.about .calculate__cost {
  max-width: 1541px;
  position: relative;
  margin: -350px auto 0;
  padding: 98px 0 84px;
  border-radius: 7px;
  color: #fff;
  background: linear-gradient(252.78deg, rgb(13, 153, 248) 0.937%, rgb(33, 160, 248) 5.359%, rgb(84, 181, 255) 27.352%, rgb(13, 187, 248) 79.002%, rgb(13, 219, 248) 97.533%);
}
.about .calculate__cost-img {
  position: absolute;
  width: 42%;
  top: -150px;
  right: -50px;
}
.about .calculate__cost-title {
  max-width: 571px;
  font-size: 51px;
  font-weight: 900;
  line-height: 63px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.about .calculate__cost-text {
  max-width: 738px;
  margin: 19px 0 28px;
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
}
.about .calculate__cost-directions {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.about .calculate__cost-directions .calculate__cost-direction {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.about .calculate__cost-directions .calculate__cost-direction span {
  width: 77px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  border: 1px solid #fff;
  border-radius: 50%;
}
.about .calculate__cost-directions .calculate__cost-direction p {
  max-width: 258px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
}
.about .calculate__cost-btn {
  margin-top: 41px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .calculate__cost-btn i {
  transition: transform 0.3s ease;
}
.about .calculate__cost-btn:hover i {
  transform: translateX(2px);
}
.about .about__wrapper {
  margin-top: 79px;
  padding-bottom: 97px;
  display: flex;
  gap: 10px;
  align-items: start;
  position: relative;
}
.about .about__wrapper .about__content {
  margin-top: 21px;
}
.about .about__wrapper .about__content-title {
  color: #121214;
  font-size: 36px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 17px;
}
.about .about__wrapper .about__content p {
  color: #303030;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
}
.about .about__wrapper .about__content p:nth-child(3) {
  margin: 20px 0;
}
.about .about__wrapper .about__card {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #fff;
  padding: 40px 40px 38px 53px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.04), 0px 12px 27px 0px rgba(0, 0, 0, 0.04), 0px 50px 50px 0px rgba(0, 0, 0, 0.03), 0px 112px 67px 0px rgba(0, 0, 0, 0.02), 0px 199px 80px 0px rgba(0, 0, 0, 0.01), 0px 312px 87px 0px rgba(0, 0, 0, 0);
}
.about .about__wrapper .about__card-item {
  width: 415px;
  display: flex;
  gap: 28px;
}
.about .about__wrapper .about__card-item h3 {
  color: #121214;
  font-size: 13px;
  font-weight: 900;
  line-height: 22px;
  letter-spacing: 0%;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.about .about__wrapper .about__card-item h3 span {
  position: relative;
}
.about .about__wrapper .about__card-item h3 span::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #49d0ff;
  left: 0;
  bottom: 0;
}
.about .about__wrapper .about__card-item p {
  color: #303030;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}

.blogs {
  padding: 88px 0 118px;
}
.blogs__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.blogs__intro-title {
  color: #121214;
  font-size: 31px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.blogs__intro-btn {
  color: #000;
  font-size: 14px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0%;
  text-transform: uppercase;
  border-bottom: 2px solid #121214;
}
.blogs__intro-btn i {
  transition: transform 0.3s ease;
}
.blogs__intro-btn:hover i {
  transform: translateX(3px);
}
.blogs .swiper__blogs {
  margin-top: 33px;
  padding-bottom: 69px;
}
.blogs .swiper__blogs-title {
  margin-top: 13px;
  color: #121214;
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
}
.blogs .swiper__blogs-text {
  color: #303030;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0%;
  margin: 13px 0;
}
.blogs .swiper__blogs-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}
.blogs .swiper__blogs-footer a {
  position: relative;
  color: #000;
  font-size: 14px;
  font-weight: 800;
  line-height: 15px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.blogs .swiper__blogs-footer a::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #49d0ff;
}
.blogs .swiper__blogs-footer p {
  color: #8c8f96;
  font-size: 11px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.blogs .swiper-pagination {
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blogs .swiper-pagination .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #121214;
  opacity: 0.7;
}
.blogs .swiper-pagination .swiper-pagination-bullet-active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

@media screen and (max-width: 1100px) {
  .about .calculate__cost-text {
    max-width: 650px;
  }
}
@media screen and (max-width: 1050px) {
  .about .about__wrapper {
    flex-direction: column;
    gap: 31px;
  }
  .about .about__wrapper .about__card {
    width: 100%;
    flex-direction: row;
  }
  .about .about__wrapper .about__card .about__card-item {
    flex-direction: column;
  }
  .about .about__wrapper .about__card .about__card-item img {
    width: 40px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    max-width: 100%;
    margin: 40px 20px;
    padding-top: 59px;
    padding-bottom: 32px;
    background-position: left;
  }
  .hero__title {
    font-size: 34px;
    line-height: 43px;
  }
  .hero__text {
    font-size: 17px;
    line-height: 27px;
  }
  .hero__controls-prev, .hero__controls-next {
    width: 54px;
    height: 54px;
  }
  .hero__controls-bullets {
    display: none;
  }
  .products {
    margin-top: 44px;
  }
  .about .about__chat {
    display: none;
  }
  .about .calculate__cost {
    padding: 36px 0 42px;
  }
  .about .calculate__cost-title {
    font-size: 34px;
    line-height: 43px;
  }
  .about .calculate__cost-text {
    max-width: 400px;
    font-size: 17px;
    line-height: 27px;
  }
  .about .calculate__cost-directions .calculate__cost-direction {
    gap: 16px;
  }
  .about .calculate__cost-directions .calculate__cost-direction span {
    width: 62px;
    height: 62px;
  }
  .about .calculate__cost-directions .calculate__cost-direction p {
    max-width: 221px;
    font-size: 14px;
    line-height: 21px;
  }
  .about .calculate__cost-btn {
    margin: 35px auto 0;
  }
  .about .calculate__cost-img {
    right: -70px;
  }
  .about .about__wrapper .about__card {
    padding: 28px 30px;
    gap: 20px;
  }
  .about .about__wrapper .about__card-item h3 {
    font-size: 12px;
  }
  .blogs {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .blogs__intro-title {
    font-size: 25px;
    line-height: 42px;
  }
  .blogs .swiper__blogs-title {
    font-size: 17px;
    line-height: 22px;
  }
  .blogs .swiper__blogs-text {
    font-size: 13px;
    line-height: 22px;
  }
  .blogs .swiper__blogs-footer a {
    font-size: 11px;
    line-height: 15px;
  }
}
@media screen and (max-width: 730px) {
  .about .calculate__cost-img {
    right: -30px;
    top: 50px;
  }
}
@media screen and (max-width: 670px) {
  .about .about__wrapper {
    margin-top: 50px;
  }
  .about .about__wrapper .about__card {
    flex-direction: column;
  }
  .about .about__wrapper .about__card-item {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .hero .wrapper {
    width: 100%;
  }
  .about {
    margin-top: 400px;
  }
  .about .calculate__cost-img {
    display: none;
  }
  .about .calculate__cost-title, .about .calculate__cost-text {
    max-width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .blogs .swiper__blogs {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 450px) {
  .hero .container {
    padding: 0 25px;
  }
  .about .calculate__cost-text, .about .calculate__cost-title {
    text-align: center;
  }
  .about .calculate__cost-directions .calculate__cost-direction {
    flex-direction: column;
    margin: 0 auto;
  }
  .about .calculate__cost-directions .calculate__cost-direction p {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .hero {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 360px) {
  .hero {
    height: 100%;
    margin-top: 25px;
    padding-top: 43px;
    padding-bottom: 15px;
  }
  .hero__title {
    font-size: 18px;
    line-height: 25px;
  }
  .hero__text {
    font-size: 12px;
    line-height: 19px;
  }
  .hero__btn {
    font-size: 10px;
    width: 204px;
  }
  .hero__controls {
    gap: 10px;
  }
  .hero__controls-prev, .hero__controls-next {
    width: 35px;
    height: 35px;
  }
  .products {
    margin-top: 44px;
  }
  .about .calculate__cost {
    padding: 33px 0 36px;
  }
  .about .calculate__cost-title {
    text-align: center;
    font-size: 23px;
    line-height: 32px;
  }
  .about .calculate__cost-text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }
  .about .calculate__cost-directions .calculate__cost-direction {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .about .calculate__cost-btn {
    display: block;
  }
  .about .about__wrapper {
    padding-bottom: 51px;
  }
  .about .about__wrapper .about__content-title {
    font-size: 19px;
    line-height: 29px;
  }
  .about .about__wrapper .about__content p {
    font-size: 15px;
    line-height: 20px;
  }
  .about .about__wrapper .about__content p:nth-child(3) {
    margin: 15px 0;
  }
  .blogs {
    padding: 40px 0 80px;
  }
  .blogs__intro-title {
    font-size: 19px;
    line-height: 42px;
  }
  .blogs__intro-text {
    font-size: 12px;
    line-height: 23px;
  }
  .blogs .swiper__blogs-title {
    font-size: 18px;
    line-height: 25px;
  }
  .blogs .swiper__blogs-text {
    font-size: 13px;
    line-height: 22px;
  }
  .blogs .swiper__blogs-footer a {
    font-size: 13px;
    line-height: 15px;
  }
}

/*# sourceMappingURL=main.css.map */
