.btn {
  width: 251px;
  border-radius: 5px;
  background-color: #121214;
  color: #fff;
  padding: 23px 27px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0%;
  border: none;
  outline: none;
  cursor: pointer;
}
